<html xmlns:th="http://www.thymeleaf.org">

    <title>Forgot Password</title>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body>
        <h1 align="center">Forgot Password</h1>

        <div class="container col-sm-3" style="margin-top:100px;">
            <div class="jumbotron" style="padding:15px;">
                <form  method="post" th:action="@{/forgot-password}" onSubmit="return validateBannerID();">
                    <div class="form-group">
                    <label>Enter Banner ID:</label>
                    <input class="form-control" id="bannerid" name="bannerid" type="text" placeholder required/>
                    </div>
                    <button class="btn-primary form-control" type="submit">Submit</button>
                </form>
            </div>
            <p id="message"/>
            <div th:if="${message}">
                    <h3 th:text="${message}"/>
            </div>

            <div th:if="${success}">
                <h3 th:text="${success}"/>
                <a class="btn btn-primary" href="#">Login</a>
            </div>
        <div>
    </body>
</html>

<script>
    function validateBannerID()
    {
        var message = document.getElementById("message");

        var iBannerid =document.getElementById("bannerid")
        var bannerid = iBannerid.value;;

        var patt = new RegExp("[bB]00[0-9]{6}");
        var res = patt.test(bannerid);

      console.log(res)
      if(!res)
      {
        message.innerHTML = "Invalid BannerID";
      return false;
      }
      else{
        message.innerHTML = "";
      }
      return true;
    }
</script>