<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="header"></div>
		<div align="center">
		<form  th:action="@{/question/addQuestion}" th:object="${question}" method="post">
		    <div><p th:text="${question.questionText}"/></div>
			<table>
			<tbody>
			 			
					<tr th:each="option, itemStat : *{optionWithOrder}">
					
					<td><input th:field="*{optionWithOrder[__${itemStat.index}__].displayText}" value="${option.displayText}"/></td>
					
					<td><input th:field="*{optionWithOrder[__${itemStat.index}__].storedAs}" value="${option.storedAs}"/></td>
					
					</tr> 
					
			</tbody>
			</table>
		    <div style="margin-top:30px">
		    <u>Add Option</u>
		    </div>
		    <div style="margin-top:30px">
		    <button>Create Question</button>
		    </div>
		 </form>
	    </div>
</body>
</html>