<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>
.moreOptionsClass{
	color:blue !important;
	text-decoration:underline;
}
</style>
</head>
<body>
	<div th:insert="header"></div>
	<br><br><br>
		<div align="center">
		<form  th:action="@{/question/addQuestion}" th:object="${question}" method="post">
			<table>
			<tbody>
			 			
					<tr th:each="option, itemStat : *{optionWithOrder}">
					<td>
					<label>Display Text:</label><input th:field="*{optionWithOrder[__${itemStat.index}__].displayText}" value="${option.displayText}"/></td>
					
					<td>
					<label>Stored As:</label><input th:field="*{optionWithOrder[__${itemStat.index}__].storedAs}" value="${option.storedAs}"/></td>
					
					</tr> 
					
			</tbody>
			</table>
		    <div style="margin-top:30px">
		 
		    </div>
		    <div style="margin-top:30px">
		    <button>Create Question</button>
		    </div>
		    	<input type="hidden" th:field="*{questionText}"  value = "${questionText}">
				<input type="hidden" th:field="*{questionType}"  value = "${questionType}">
		 </form>
		 
		 <br><br>
		 <form th:action="@{/question/moreOptions}" th:object="${question}" method="post">
		 <button>More options</button>
		 <!-- <a href="/question/moreOptions" class="moreOptionsClass">More Options</a> -->
		 </form>
	    </div>
</body>
</html>